<!-- <div class="border">
    <div class=" text-center   " style="border-bottom: none;">
        <h1>statastics</h1>
        <div class="border  text-center " style="border-bottom:none;">
            <h1 class="">Total</h1>
            <hr>
            <h3>5</h3>
        </div>
    </div>
    
</div> -->


<div class="border p-2 border   " style=" position: fixed; top: 100px; left: 150px;">
<div class="pt-0 pl-5 pr-5 ">
    <h2 class="text-center p-2">Statastics</h2>
</div>
    <div class=" text-center p-2 " style="background-color: aqua;">
        <h5 >TOTAL</h5>
    </div>
    
    <div class=" text-center p-2 " style="background-color: rgb(184, 228, 228);">
        <h5 >5</h5>
    </div>
    <div class=" text-center p-2 mt-3" style="background-color: aqua;">
        <h5 >Completed</h5>
    </div>
    <hr class="m-0">
    <div class=" text-center p-2 " style="background-color: rgb(184, 228, 228);">
        <h5 >5</h5>
</div>
<div class=" text-center p-2 mt-3" style="background-color: aqua;">
    <h5 >Pending</h5>
</div>
<hr class="m-0">
<div class=" text-center p-2 " style="background-color: rgb(184, 228, 228);">
    <h5 >5</h5>
</div>
</div>


<!-- <div class="row border justify-content-around ">
        <div class="border text-center ">
            <h1>Statastics</h1>
        </div>
    </div>
    <div class="row border  ">
        <div class="border text-center ">
            <h1>Total</h1>
            <hr>
            <h4>5</h4>
        </div>
    </div>
</div>
</div> -->