{% extends 'partials/base.html' %}

{% block content %}
<div class="shadow p-3 mb-5 bg-white rounded">
    <form action="" method="POST" class="p-4 bg-light" style="box-shadow: 2px 10px 4px rgba(0, 0, 0, 0.1);">
        {% csrf_token %}
        <div class="border p-1 alert    alert-danger ">
            <h3>Are you sure want to delete ?</h3>
        </div>
        <hr>
        <div class=" ">
            <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-danger ml-2">Confirm</button>
        </div>

    </form>
</div>
{% endblock %}